body{
  background-color: tan;
}

header{
  background-color: green;
  color: white;
  padding: 1em;
  font-size: 2rem;
  font-family: sans-serif;
}

main{
  padding: 2em;
}

.container{
  display: flex;
}

.cart{
  flex: 0 0 15%;
  visibility: hidden;
  background-color: #ccc;
  padding: 1em;
  font-family: sans-serif;
}

.cart table{
  width: 100%;
  border-collapse: collapse;
}

.cart .money{
  text-align: right;
}

.total-row td{
  padding-bottom: 1em;
  font-weight: bold;
}

.item-row td{
  font-style: italic;
}

.item{
  display: none;
  background-color: white;
  border-radius: 6px;
  width: 12em;
  height: 11em;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

.item img{
  height: 75%;
  object-fit: contain;
  border-radius: 6px;
  border: 1px solid #ccc;
  user-select: none;
}

.item input[type='checkbox']{
  display: none;
}

.item input[type='checkbox']:checked ~ p{
  font-weight: bold;
  font-style: italic;
  color: green;
}

.item input[type='checkbox']:checked ~ p:after{
  content: " \02713 ";
}

.item p{
  user-select: none;
}

.item .price::before{
  content: '';
  display: block;
}

.logo-first{
  font-weight: bolder;
}

.logo-second{
  font-weight: lighter;
  font-style: italic;
  color: #ccc;
}

.show{
  display: inline-block;
}

.sidebar{
  width: 20%;
}

.switch-field {
  font-family: sans-serif;
}

.switch-field label {
  display: block;
  width: 5em;
  background-color: #ccc;
  text-align: center;
  padding: 1em;
  user-select: none;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
}

.switch-field input[type='radio']{
  display: none;
}

.visible {
  visibility: visible;
}
