body{
  background-color: tan;
}

header{
  background-color: green;
  color: white;
  padding: 1em;
  font-size: 2rem;
  font-family: sans-serif;
}

main{
  padding: 2em;
}

.container{
  display: flex;
}

.hidden{
  display: none;
}

.item{
  background-color: white;
  border-radius: 6px;
  width: 12em;
  height: 10em;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

.item img{
  height: 75%;
  object-fit: contain;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.logo-first{
  font-weight: bolder;
}

.logo-second{
  font-weight: lighter;
  font-style: italic;
  color: #ccc;
}

.show{
  display: inline-block;
}

.sidebar{
  width: 20%;
}

.switch-field {
  font-family: sans-serif;
}

.switch-field label {
  display: block;
  width: 5em;
  background-color: #ccc;
  text-align: center;
  padding: 1em;
  user-select: none;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
}

.switch-field input[type='radio']{
  display: none;
}
