body{
  background-color: tan;
}

header{
  background-color: green;
  color: white;
  padding: 1em;
  font-size: 2em;
  font-family: sans-serif;
}

main{
  padding: 2em;
}

.container{
  display: flex;
}

.logo-first{
  font-weight: bolder;
}

.logo-second{
  font-weight: lighter;
  font-style: italic;
  color: #ccc;
}

.sidebar{
  width: 20%;
}
